<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Country Game</title>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div id="overlay"></div>
  <h1>Country Game: Which Country has a higher population?</h1>

  <h2>Lives: <span id="lives">3</span></h2>
  <form method="post" name="form">
    <h2>Score: <input type="number" id="score" name="score" value="0" style="border-width: 0ch; background-color: white; font-weight: bold; font-size: 24px;" readonly ></input></h2>
    <input type="submit" value="next" id="submit" style="display: none;">
  </form>


  <div class="flex">
    <div class="country" id="c1div">
      <h3 id="c1"></h3>
      <img id="f1" src="" />
      <h3 id="pop">Population: ???</h3>
    </div>
    <h2>or</h2>
    <div class="country" id="c2div">
      <h3 id="c2"></h3>
      <img id="f2" src="" />
      <h3>Population: ???</h3>
    </div>
  </div>
</body>

</html>