<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Leaderboard</h1>
    <%- greeting %>
    <div>
        <%- table %>
    </div>

    <br>
    <a href="/">Play Again</a>
</body>